DB_HOST=10.10.10.17
DB_USER=root
DB_PASS=secret
DB_NAME=authen_logs
RADIUS_SERVER=10.10.10.32
RADIUS_SECRET=secret
JWT_SECRET=secret
TOKEN_EXP=24h
PORT=8080
COOKIE_DOMAIN=.rajburi.org
MAX_FAILED_ATTEMPTS=5
LOCK_WINDOW_MINUTES=15

# Comcenter Database
DB_COMCENTER_HOST=10.10.10.xx
DB_COMCENTER_USER=username
DB_COMCENTER_PASSWORD=password

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASS=

# MOPH Alert API
MOPH_API_URL=https://morpromt2c.moph.go.th/alert/v3.1/messages
MOPH_CLIENT_KEY=your_client_key
MOPH_SECRET_KEY=your_secret_key
